:root {
    /* main fonts and text colors */
    --title-font: ;
    --main-font: ;

    /* colors */
    --color-1: #e4e4e4;
    --color-2: #000000;
    --color-3: #ca3030;

    /* cursor */
    --cursor: crosshair;
    --cursor-basic: not-allowed;
    --cursor-content: grab;

    /* others */
    --padding-body: 0px 40px;
    --padding-footer: 0 30px;
    --header-height: 80px;
    --border-radius: 5px;
  }

/* base */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-2);
}

body {
    font-family: var(--main-font);
    color: var(--color-1);
    background: var(--color-2);
    min-height: 100vh;
    margin: 0;
    /* sticking the footer */
    display: flex;
    flex-direction: column;
    cursor: var(--cursor-basic);
}

main {
    margin-top: var(--header-height);
    flex: 1; /* fill the remaining space */
    display: grid;
    grid-template-columns: repeat(1fr, 5);
}

/* header and footer section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    background-color: var(--color-2);
}

h1 > a {
    display: inline-block;
    font-family: var(--title-font);
    font-size: 2.5rem;
    color: var(--color-1);
    text-decoration: none;
    transition: transform 0.25s ease;
}

h1 > a:hover {
    transform: scale(1.05);
}

/* padding for the header elements */
header > * {
    padding: var(--padding-body);
}

.socials {
    width: 60px;
    transition: transform 0.25s ease;
}

.socials:hover{
    transform: scale(1.12);
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    padding: 0 10px;
    cursor: var(--cursor);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--color-1);
    margin: 0;
    padding-bottom: 5px;
    user-select: none;
    position: relative;
}

footer > * {
    padding: var(--padding-footer);
}

footer > a:hover, footer > p:hover {
    color: var(--color-3);
    cursor: var(--cursor);
}

/* main section */
a {
    text-decoration: none;
    color: var(--color-1);
    cursor: var(--cursor);
}

.content-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-column: span 4;
    margin-top: 30px;
    height: auto;

}

#content{
    width: 75vw; 
    max-width: 1200px; 
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px #7e7e7e94;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: auto;
    cursor: var(--cursor-content);
}

.show-menu {
    display: none;
}

.s-menu-div {
    display: none;
}

.menu-div {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.menu-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-ul > li > a {
    cursor: var(--cursor);
    font-size: 2.3em;
    display: inline-block;
    transition: transform 0.25s ease;
    padding: 3px;
}

.menu-ul > li.active > a {
    color: var(--color-3);
}

.menu-ul > li > a:hover {
    transform: scale(1.1);
}

.buttons{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    grid-column: span 5;
    margin-left: 150px;
    margin-right: 150px;
}

.buttons > * {
    margin-top: 40px;
    height: 30px;
    width: 30px;
    background-color: var(--color-3);
    border-radius: 50px;
    cursor: var(--cursor);
}

.bio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: auto;
}

.bio > p {
    padding: 80px;
    font-family: var(--main-font);
    font-size: clamp(1.3em, 2vw, 1.7em);
}

.bio > img {
    width: 33%;
    border-radius: var(--border-radius);
    margin-left: 50px;
}

.bio::-webkit-scrollbar {
    width: 8px; 
}

.bio::-webkit-scrollbar-track {
    background: var(--color-2);
}

.bio::-webkit-scrollbar-thumb {
    background: var(--color-3); 
    border-radius: 10px;
    transition: background 0.3s;
}

.bio::-webkit-scrollbar-thumb:hover {
    background: var(--color-1); 
}



/* media queries */
@media (max-width: 1024px) {

    .menu-div {
        margin-top: 80px;
    }

    #content{
        width: 70vw; 
    }

}

@media (max-width: 800px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .menu-div {
        margin-top: 0px;
        display: none;
    }

    .s-menu-div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-ul {
        padding: 0;
    }
    
    .show-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        height: 12vh;
    }

    .show-menu > a{
        cursor: var(--cursor);
        color: var(--color-3);
        writing-mode: vertical-rl;
    }

    #content {
        width: 85vw; 
    }

    .buttons{
        height: 120px;
    }

}